<div class="container-div page-body">
  <div>
    <div class="col-xs-12" align="center">
      <u><h2>Fillers</h2></u>
    </div>
    <div class="col-xs-12">
      <div class="col-md-2 col-md-offset-2">
        <h3>
          <%= link_to admin_fillers_path, class: "btn btn-blue" do %>
            Back
          <% end %>
        </h3>
      </div>
    </div>
  </div>

  <div class="col-xs-8 col-xs-offset-2">
    <table class="table table-bordered table-striped table-hover table-data table-overview display" >
      <thead>
      <tr>
        <th class="col-xs-1">Id</th>
        <th class="col-xs-3">Party</th>
        <th class="col-xs-2">Color</th>
        <th class="col-xs-1">Quantity</th>
        <th class="col-xs-1">Rate</th>
        <th class="col-xs-2">Date</th>
        <th class="col-xs-2">Action</th>
      </tr>
      </thead>
      <tbody>
      <% Filler.all.each do |filler| %>
        <tr>
          <td><%= filler.id%></td>
          <%if filler.id == @filler.id %>
            <%= form_for @filler, url: admin_filler_path do |f| %>
              <td><%= f.select :party_id, Party.all.pluck(:name, :id), {include_blank: "--Party--"},
                               { class: 'feedr-main-select form-control ','data-behavior' => "chosen-select", required: true}%></td>
              <td><%= f.select :color_id, Color.all.pluck(:name, :id), {include_blank: "--Color--"},
                               { class: 'feedr-main-select form-control ','data-behavior' => "chosen-select", required: true}%></td>
              <td><%= f.text_field :quantity, class: 'form-control input feedr-main-input', required: true %></td>
              <td><%= f.text_field :rate, class: 'form-control input feedr-main-input', required: true %></td>
              <td><%= filler.created_at.strftime("%d/%m/%Y")%></td>
              <td>
                <%= f.submit "Update", class: 'btn btn-green' %>
              </td>
            <% end %>
          <% else %>
            <td><%= Party.find_by(:id => filler.party_id).name %></td>
            <td><%= Color.find_by(:id => filler.color_id).name %></td>
            <td><%= filler.quantity%></td>
            <td><%= filler.rate%></td>
            <td><%= filler.created_at.strftime("%d/%m/%Y")%></td>
            <td>
            </td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="page_links ppl">
      <%#= will_paginate @locations%>
    </div>
  </div>
</div>
