<div class="container-div page-body">
  <div>
    <div class="col-xs-12" align="center">
      <u><h2>Fillers</h2></u>
    </div>
    <div class="col-xs-12 no-left-pad">
      <div class="col-md-2 col-md-offset-2 ">
        <h3>
          <%= link_to new_admin_filler_path, class: "btn btn-green" do %>
            Add New Filler
          <% end %>
        </h3>
      </div>
    </div>
  </div>

  <div class="col-xs-8 col-xs-offset-2">
    <%= search_form_for(@q,url: admin_fillers_path, id: 'fillers_search_form') do |f| %>

      <div class="col-xs-2 pt20">

        <%=f.select :party_id_eq, Party.all.pluck(:name, :id), {include_blank: "--Party--"},
                    { class: 'feedr-main-select form-control ','data-behavior' => "chosen-select"}%>
      </div>

      <div class="col-xs-2 pt20">

        <%=f.select :color_id_eq, Color.all.pluck(:name, :id), {include_blank: "--Color--"},
                    { class: 'feedr-main-select form-control ','data-behavior' => "chosen-select"}%>
      </div>

      <div class="col-xs-2 pt20" align="right">
        <%=f.submit 'Search', class: 'form-control btn-green'%>
      </div>
    <%end%>
  </div>

  <div class="col-xs-8 col-xs-offset-2 top-margin-3">
    <table class="table table-bordered table-striped feedr-main-tabl" >
      <thead>
      <tr>
        <th class="col-xs-1">Id</th>
        <th class="col-xs-3">Party</th>
        <th class="col-xs-2">Color</th>
        <th class="col-xs-1">Quantity</th>
        <th class="col-xs-1">Rate</th>
        <th class="col-xs-2">Date</th>
        <th class="col-xs-2">Action</th>
      </tr>
      </thead>
      <tbody>
      <% @fillers.each do |filler| %>
        <tr>
          <td><%= filler.id%></td>
          <td><%= Party.find_by(:id => filler.party_id).name %></td>
          <td><%= Color.find_by(:id => filler.color_id).name %></td>
          <td><%= filler.quantity%></td>
          <td><%= filler.rate%></td>
          <td><%= filler.created_at.strftime("%d/%m/%Y")%></td>
          <td>
            <div>
              <div class="col-xs-4">
                <%= link_to edit_admin_filler_path(filler), class: "btn btn-primary" do %>
                  Edit
                <% end %>
              </div>
              <div class="col-xs-4">
                <%= link_to 'Delete', admin_filler_path(filler), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>

              </div>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="page_links ppl">
      <%= will_paginate @fillers%>
    </div>
  </div>
</div>

<script>
    $('#document').change(function(){
        $('#upload_form').submit()
    });
</script>
