<div class="container-div page-body">

  <div class="col-xs-12">
    <div class="col-xs-5 no-left-pad">
      <h3>
        <%= link_to new_admin_item_path, class: "btn btn-green" do %>
          Add Items
        <% end %>
      </h3>
    </div>
    <div class="col-xs-7">
      <h3> Item</h3>
    </div>
  </div>

  <div class="col-xs-12 mt10">
    <%= search_form_for(@q,url: admin_items_path, id: 'item_search_form') do |f| %>
      <div class="col-xs-2 no-left-pad">
        <%= f.label :division_id_eq, 'Division' %>
        <%= f.select :division_id_eq, Division.all.pluck(:name, :id), {include_blank: "--Division--"},
                     { class: 'feedr-main-select form-control ','data-behavior' => "chosen-select"} %>
      </div>
      <div class="col-xs-2 no-left-pad">
        <%= f.label :section_id_eq, 'Section' %>
          <%= f.select :section_id_eq, Section.all.pluck(:name, :id), {include_blank: "--Section--"},
                       { class: 'feedr-main-select form-control ','data-behavior' => "chosen-select"}%>
      </div>
      <div class="col-xs-2 no-left-pad">
        <%= f.label :department_id_eq, 'Department' %>
        <%= f.select :department_id_eq, Department.all.pluck(:name, :id), {include_blank: "--Department--"},
                     { class: 'feedr-main-select form-control ','data-behavior' => "chosen-select"}%>
      </div>
      <div class="col-xs-2 no-left-pad">
        <%= f.label :company_name_cont, 'Company Name' %>
        <%=f.text_field :company_name_cont, class: 'form-control feedr-main-input'%>
      </div>
      <div class="col-xs-2 no-left-pad">
        <%= f.label :name_cont, 'Item Name' %>
        <%=f.text_field :name_cont, class: 'form-control feedr-main-input'%>
      </div>
      <div class="col-xs-2 pt20" align="right">
        <%=f.submit 'Search', class: 'form-control btn-green'%>
      </div>
    <%end%>
  </div>


  <div class="col-xs-12 mt10">
    <table class="table table-bordered table-striped feedr-main-tabl" >
      <thead>
      <tr>
        <th class="col-xs-1">Id</th>
        <th class="col-xs-1">Division</th>
        <th class="col-xs-1">Section</th>
        <th class="col-xs-1">Department</th>
        <th class="col-xs-1">Company Name</th>
        <th class="col-xs-2">Name</th>
        <th class="col-xs-1">MRP</th>
        <th class="col-xs-1">RSP</th>
        <th class="col-xs-1">Status</th>
        <th class="col-xs-3">Action</th>
      </tr>
      </thead>
      <tbody>
      <% @items.each do |item| %>
        <tr>
          <td><%= item.id%></td>
          <td><%= item.division.try(:name)%></td>
          <td><%= item.section.try(:name)%></td>
          <td><%= item.department.try(:name)%></td>
          <td><%= item.company_name%></td>
          <td><%= item.name%></td>
          <td><%= item.mrp%></td>
          <td><%= item.rsp%></td>
          <td><%= item.status%></td>
          <td>
            <div>
              <div class="col-xs-12">
                <%= link_to edit_admin_item_path(item), class: "btn btn-sm btn-blue" do %>
                  Edit
                <% end %>
              </div>
              <div class="col-xs-8 mt10">
                <%= image_tag "https://s3-ap-southeast-1.amazonaws.com/feedr./items/#{item.barcode}.jpg", width: '60px', id: "upload", class: "pointer" %>
              </div>
              <div class="col-xs-4 pt32">
                <%= form_tag upload_item_image_admin_items_path(barcode: item.barcode), class: 'form-horizontal', id: 'upload_form', multipart: true do |f| %>
                  <label for="document"><%= image_tag 'upload_image.svg', width: '30px', id: "upload", class: "pointer" %></label>
                  <%= file_field_tag :document, class: 'mechanic_file', style:"display: none" %>
                <% end %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="page_links ppl">
      <%= will_paginate @items%>
    </div>
  </div>
</div>

<script>
    $('#document').change(function(){
        $('#upload_form').submit()
    });
</script>
