<div class="container-div page-body">
  <div>
    <div class="col-xs-12" align="center">
      <u><h2>Bobins</h2></u>
    </div>
    <div class="col-xs-12 no-left-pad">
      <div class="col-md-2 col-md-offset-2 ">
        <h3>
          <%= link_to new_admin_bobin_path, class: "btn btn-green" do %>
            Add
          <% end %>
        </h3>
      </div>
    </div>
  </div>

  <div class="col-xs-8 col-xs-offset-2">
    <table class="table table-bordered table-striped feedr-main-tabl" >
      <thead>
      <tr>
        <th class="col-xs-1">Id</th>
        <th class="col-xs-5">Party</th>
        <th class="col-xs-2">Quantity</th>
        <th class="col-xs-2">Rate</th>
        <th class="col-xs-2">Action</th>
      </tr>
      </thead>
      <tbody>
      <% @bobins.each do |bobin| %>
        <tr>
          <td><%= bobin.id%></td>
          <td><%= Party.find_by(:id => bobin.party_id).name %></td>
          <td><%= bobin.quantity%></td>
          <td><%= bobin.rate%></td>
          <td>
            <div>
              <div class="col-xs-4">
                <%= link_to edit_admin_bobin_path(bobin), class: "btn btn-sm btn-blue" do %>
                  Edit
                <% end %>
              </div>

            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="page_links ppl">
      <%= will_paginate @bobins%>
    </div>
  </div>
</div>

<script>
    $('#document').change(function(){
        $('#upload_form').submit()
    });
</script>
