<div class="container-div page-body">
  <div>
    <div class="col-xs-12" align="center">
      <u><h2> Plastic Scrap</h2></u>
    </div>
    <div class="col-xs-12 no-left-pad">
      <div class="col-md-2 col-md-offset ">
        <h3>
          <%= link_to new_admin_plastic_scrap_path, class: "btn btn-green" do %>
            Add New Plastic Scrap
          <% end %>
        </h3>
      </div>
    </div>
  </div>

  <div class="col-xs-12 col-xs-offset">
    <%= search_form_for(@q,url: admin_plastic_scraps_path, id: 'plastic_scrap_search_form') do |f| %>

      <div class="col-xs-2 pt20">
        <%=f.select :party_id_eq, Party.all.pluck(:name, :id), {include_blank: "--Party--"},
                    { class: 'feedr-main-select form-control ','data-behavior' => "chosen-select"}%>
      </div>

      <div class="col-xs-2 pt20">
        <%= f.select :type_id_eq, Type.includes(:color).collect { |t| [ "#{t.name} | #{t.color.name}" , t.id] }, {include_blank: "--Type--"},
                               { class: 'feedr-main-select form-control ','data-behavior' => "chosen-select", required: true}%>
      </div>

      <div class="col-xs-2 pt20" align="right">
        <%=f.submit 'Search', class: 'form-control btn-green'%>
      </div>
    <%end%>
  </div>

  <div class="col-xs-12 col-xs-offset top-margin-3">
    <table class="table table-bordered table-striped feedr-main-tabl" >
      <thead>
      <tr>
        <th class="col-xs-0">Id</th>
        <th class="col-xs-1">Party</th>
        <th class="col-xs-1">Type</th>
        <th class="col-xs-1">Rate</th>
        <th class="col-xs-1">Weight</th>
        <th class="col-xs-1">Delhi Weight</th>
        <th class="col-xs-1">Bhiwani Weight</th>
        <th class="col-xs-1">Bags Quantity</th>
        <th class="col-xs-1">Bardana</th>
        <th class="col-xs-1">Labour</th>
        <th class="col-xs-1">Date</th>
        <th class="col-xs-2">Action</th>
      </tr>
      </thead>
      <tbody>
      <% @plastic_scraps.each do |plastic_scrap| %>
        <tr>
          <td><%= plastic_scrap.id%></td>
          <td><%= Party.find_by(:id => plastic_scrap.party_id).name %></td>
          <% type_name = Type.includes(:color).find_by(:id => plastic_scrap.type_id) %>
          <td><%= type_name.name + " | " + type_name.color.name  %></td>
          <td><%= plastic_scrap.rate%></td>
          <td><%= plastic_scrap.weight%></td>
          <td><%= plastic_scrap.delhi_weight%></td>
          <td><%= plastic_scrap.bhiwani_weight%></td>
          <td><%= plastic_scrap.bags_quantity%></td>
          <td><%= plastic_scrap.bardana%></td>
          <td><%= plastic_scrap.labour%></td>
          <td><%= plastic_scrap.created_at.strftime("%d/%m/%Y")%></td>
          <td>
            <div>
              <div class="col-xs-4">
                <%= link_to edit_admin_plastic_scrap_path(plastic_scrap), class: "btn btn-primary" do %>
                  Edit
                <% end %>
              </div>
              <div class="col-xs-4">
                <%= link_to 'Delete', admin_plastic_scrap_path(plastic_scrap), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>

              </div>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="page_links ppl">
      <%= will_paginate @plastic_scraps%>
    </div>
  </div>
</div>

<script>
    $('#document').change(function(){
        $('#upload_form').submit()
    });
</script>
