<div class="container-div page-body">
  <div>
    <div class="col-xs-12" align="center">
      <u><h2> Plastic Scrap</h2></u>
    </div>
    <div class="col-xs-12 no-left-pad">
      <div class="col-md-2 col-md-offset-2 ">
        <h3>
          <%= link_to new_admin_plastic_scrap_path, class: "btn btn-green" do %>
            Add
          <% end %>
        </h3>
      </div>
    </div>
  </div>

  <div class="col-xs-8 col-xs-offset-2">
    <table class="table table-bordered table-striped feedr-main-tabl" >
      <thead>
      <tr>
        <th class="col-xs-1">Id</th>
        <th class="col-xs-1">Party</th>
        <th class="col-xs-1">Type</th>
        <th class="col-xs-1">Rate</th>
        <th class="col-xs-1">Weight</th>
        <th class="col-xs-1">Delhi Weight</th>
        <th class="col-xs-1">Bhiwani Weight</th>
        <th class="col-xs-1">Bags Quantity</th>
        <th class="col-xs-2">Bardana</th>
        <th class="col-xs-1">Labour</th>
        <th class="col-xs-1">Action</th>
      </tr>
      </thead>
      <tbody>
      <% @plastic_scraps.each do |plastic_scrap| %>
        <tr>
          <td><%= plastic_scrap.id%></td>
          <td><%= Party.find_by(:id => plastic_scrap.party_id).name %></td>
          <td><%= Type.find_by(:id => plastic_scrap.party_id).name %></td>
          <td><%= plastic_scrap.rate%></td>
          <td><%= plastic_scrap.weight%></td>
          <td><%= plastic_scrap.delhi_weight%></td>
          <td><%= plastic_scrap.bhiwani_weight%></td>
          <td><%= plastic_scrap.bags_quantity%></td>
          <td><%= plastic_scrap.bardana%></td>
          <td><%= plastic_scrap.labour%></td>
          <td>
            <div>
              <div class="col-xs-4">
                <%= link_to edit_admin_plastic_scrap_path(plastic_scrap), class: "btn btn-sm btn-blue" do %>
                  Edit
                <% end %>
              </div>

            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="page_links ppl">
      <%= will_paginate @plastic_scraps%>
    </div>
  </div>
</div>

<script>
    $('#document').change(function(){
        $('#upload_form').submit()
    });
</script>
