<div class="container-div page-body">
  <div>
    <div class="col-xs-12" align="center">
      <h3>Gittis</h3>
    </div>
    <div class="col-xs-12 no-left-pad">
      <div class="col-md-2 col-md-offset-2 ">
        <h3>
          <%= link_to new_admin_gitti_path, class: "btn btn-green" do %>
            Add
          <% end %>
        </h3>
      </div>
    </div>
  </div>

  <div class="col-xs-8 col-xs-offset-2">
    <table class="table table-bordered table-striped feedr-main-tabl" >
      <thead>
      <tr>
        <th class="col-xs-1">Id</th>
        <th class="col-xs-1">Party</th>
        <th class="col-xs-3">Quantity</th>
        <th class="col-xs-2">Rate</th>
        <th class="col-xs-2">Action</th>
      </tr>
      </thead>
      <tbody>
      <% @gittis.each do |gitti| %>
        <tr>
          <td><%= gitti.id%></td>
          <td><%= Party.find_by(:id => gitti.party_id).name %></td>
          <td><%= gitti.quantity%></td>
          <td><%= gitti.rate%></td>
          <td>
            <div>
              <div class="col-xs-4">
                <%= link_to edit_admin_gitti_path(gitti), class: "btn btn-sm btn-blue" do %>
                  Edit
                <% end %>
              </div>

            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="page_links ppl">
      <%= will_paginate @gittis%>
    </div>
  </div>
</div>

<script>
    $('#document').change(function(){
        $('#upload_form').submit()
    });
</script>
