<div class="container-div page-body">
  <div>
    <div class="col-xs-12" align="center">
      <u><h2>Daana</h2></u>
    </div>
    <div class="col-xs-12 no-left-pad">
      <div class="col-md-2 col-md-offset-2 ">
        <h3>
          <%= link_to new_admin_daana_path, class: "btn btn-green" do %>
            Add Daana
          <% end %>
        </h3>
      </div>
    </div>
  </div>

  <div class="col-xs-8 col-xs-offset-2">
    <%= search_form_for(@q,url: admin_daanas_path, id: 'daanas_search_form') do |f| %>

      <div class="col-xs-2 pt20">

        <%=f.select :party_id_eq, Party.all.pluck(:name, :id), {include_blank: "--Party--"},
                    { class: 'feedr-main-select form-control ','data-behavior' => "chosen-select"}%>
      </div>

      <div class="col-xs-2 pt20">

        <%= f.select :type_id_eq, Type.includes(:color).collect { |t| [ "#{t.name} | #{t.color.name}" , t.id] }, {include_blank: "--Type--"},
                     { class: 'feedr-main-select form-control ','data-behavior' => "chosen-select", required: true}%>
      </div>

      <div class="col-xs-2 pt20" align="right">
        <%=f.submit 'Search', class: 'form-control btn-green'%>
      </div>
    <%end%>
  </div>

  <div class="col-xs-8 col-xs-offset-2 top-margin-3">
    <table class="table table-bordered table-striped feedr-main-tabl" >
      <thead>
      <tr>
        <th class="col-xs-1">Id</th>
        <th class="col-xs-2">Party</th>
        <th class="col-xs-2">Type</th>
        <th class="col-xs-1">Quantity</th>
        <th class="col-xs-2">Rate</th>
        <th class="col-xs-2">Date</th>
        <th class="col-xs-2">Action</th>
      </tr>
      </thead>
      <tbody>
      <% @daanas.each do |daana| %>
        <tr>
          <td><%= daana.id%></td>
          <td><%= Party.find_by(:id => daana.party_id).name %></td>
          <% type_name = Type.includes(:color).find_by(:id => daana.type_id) %>
          <td><%= type_name.name + " | " + type_name.color.name  %></td>
          <td><%= daana.quantity%></td>
          <td><%= daana.rate%></td>
          <td><%= daana.created_at.strftime("%d/%m/%Y")%></td>
          <td>
            <div>
              <div class="col-xs-4">
                <%= link_to edit_admin_daana_path(daana), class: "btn btn-primary" do %>
                  Edit
                <% end %>
              </div>
              <div class="col-xs-4">
                <%= link_to 'Delete', admin_daana_path(daana), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>

              </div>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="page_links ppl">
      <%= will_paginate @daanas%>
    </div>
  </div>
</div>

<script>
    $('#document').change(function(){
        $('#upload_form').submit()
    });
</script>
