<div class="container-div page-body">
  <div>
    <div class="col-xs-12" align="center">
      <h3> Offers</h3>
    </div>
    <div class="col-xs-12">
      <div class="col-md-2 col-md-offset-2">
        <h3>
          <%= link_to admin_offers_path, class: "btn btn-blue" do %>
            Back
          <% end %>
        </h3>
      </div>
    </div>
  </div>

  <div class="col-xs-8 col-xs-offset-2">
    <table class="table table-bordered table-striped table-hover table-data table-overview display" >
      <thead>
      <tr>
        <th class="col-xs-1">Id</th>
        <th class="col-xs-2">Name</th>
        <th class="col-xs-2">Description</th>
        <th class="col-xs-4">Items</th>
        <th class="col-xs-1">Status</th>
        <th class="col-xs-2">Action</th>
      </tr>
      </thead>
      <tbody>
      <% Offer.all.each do |offer| %>
        <tr>
          <td><%= offer.id%></td>
          <%if offer.id == @offer.id %>
            <%= form_for @offer, url: admin_offer_path do |f| %>
              <td><%= f.text_field :name, class: 'form-control feedr-main-input input', required: true %></td>
              <td><%= f.text_field :description, class: 'form-control feedr-main-input input', required: true %></td>
              <td><%= f.select :item_ids, Item.all.pluck(:name, :id), { include_blank: 'Items'},
                               { class: 'feedr-main-select form-control ','data-behavior' => "chosen-select", multiple: true, required: true} %></td>
              <td><%= f.select :status, ['active', 'inactive'], {},
                { class: 'feedr-main-select form-control ','data-behavior' => "chosen-select", required: true} %></td>
              <td>
                <%= f.submit "Update", class: 'btn btn-green' %>
              </td>
            <% end %>
          <% else %>
            <td><%= offer.name%></td>
            <td><%= offer.description%></td>
            <td><ul>
              <% offer.items.each do |item|%>
              <li><%= item.name %></li>
              <% end %>
            </ul>
                </td>
            <td><%= offer.status%></td>
            <td>
            </td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="page_links ppl">
      <%#= will_paginate @locations%>
    </div>
  </div>
</div>

<script>
    ChosenApplier.init($('select[data-behavior=chosen-select]'))
</script>