<div class="container-div page-body">
  <div>
    <div class="col-xs-12" align="center">
      <h3>offers</h3>
    </div>
    <div class="col-xs-12 no-left-pad">
      <div class="col-md-2 col-md-offset-2 ">
        <h3>
          <%= link_to new_admin_offer_path, class: "btn btn-green" do %>
            Add
          <% end %>
        </h3>
      </div>
    </div>
  </div>

  <div class="col-xs-8 col-xs-offset-2">
    <table class="table table-bordered table-striped feedr-main-tabl" >
      <thead>
      <tr>
        <th class="col-xs-1">Id</th>
        <th class="col-xs-2">Name</th>
        <th class="col-xs-2">Description</th>
        <th class="col-xs-4">Items</th>
        <th class="col-xs-1">Status</th>
        <th class="col-xs-2">Action</th>
      </tr>
      </thead>
      <tbody>
      <% @offers.each do |offer| %>
        <tr>
          <td><%= offer.id%></td>
          <td><%= offer.name%></td>
          <td><%= offer.description%></td>
          <td>
            <ul type="disc">
              <% offer.items.each_with_index do  |item, index|%>
                <li><%= "#{index+1}. #{item.name.titleize}" %></li>
              <% end %>
            </ul>
          </td>
          <td><%= offer.status%></td>
          <td>
            <div>
              <div class="col-xs-12">
                <%= link_to edit_admin_offer_path(offer), class: "btn btn-sm btn-blue" do %>
                  Edit
                <% end %>
              </div>
              <div class="col-xs-8 mt10">
                <%= image_tag "https://s3-ap-southeast-1.amazonaws.com/b2b/offers/#{offer.id}.jpg", width: '80px', id: "upload"%>

              </div>
              <div class="col-xs-4">
                <%= form_tag upload_offer_image_admin_offers_path(id: offer.id), class: 'form-horizontal', id: 'upload_form', multipart: true do |f| %>
                  <label for="document"><%= image_tag 'upload_image.svg', width: '30px', id: "upload", class: "pointer" %></label>
                  <%= file_field_tag :document, class: 'mechanic_file', style:"display: none" %>
                <% end %>
              </div>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="page_links ppl">
      <%= will_paginate @offers%>
    </div>
  </div>
</div>

<script>
    $('#document').change(function(){
        $('#upload_form').submit()
    });
</script>
