<div class="container-div page-body">
  <div>
    <div class="col-xs-12" align="center">
      <u><h2> Parties</h2></u>
    </div>
    <div class="col-xs-12">
      <div class="col-md-2 col-md-offset-2">
        <h3>
          <%= link_to admin_parties_path, class: "btn btn-blue" do %>
            Back
          <% end %>
        </h3>
      </div>
    </div>
  </div>

  <div class="col-xs-8 col-xs-offset-2">
    <table class="table table-bordered table-striped table-hover table-data table-overview display" >
      <thead>
      <tr>
        <th class="col-xs-1">Id</th>
        <th class="col-xs-2">Name</th>
        <th class="col-xs-3">Address</th>
        <th class="col-xs-2">Mobile Number</th>
        <th class="col-xs-3">Gstin</th>
        <th class="col-xs-1">Action</th>
      </tr>
      </thead>
      <tbody>
      <% Party.all.each do |party| %>
        <tr>
          <td><%= party.id%></td>
          <%if party.id == @party.id %>
            <%= form_for @party, url: admin_party_path do |f| %>
              <td><%= f.text_field :name, class: 'form-control feedr-main-input input', required: true %></td>
              <td><%= f.text_field :address, class: 'form-control input feedr-main-input', required: true %></td>
              <td><%= f.text_field :mobile_number, class: 'form-control input feedr-main-input', required: true %></td>
              <td><%= f.text_field :gstin, class: 'form-control input feedr-main-input', required: true %></td>
              <td>
                <%= f.submit "Update", class: 'btn btn-green' %>
              </td>
            <% end %>
          <% else %>
            <td><%= party.name%></td>
            <td><%= party.address%></td>
            <td><%= party.mobile_number%></td>
            <td><%= party.gstin%></td>
            <td>
            </td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="page_links ppl">
      <%#= will_paginate @locations%>
    </div>
  </div>
</div>
