<div class="container-div page-body">
  <div>
    <div class="col-xs-12" align="center">
      <u><h2> Parties</h2></u>
    </div>
    <div class="col-xs-10 col-xs-offset-1">
      <div class="col-md-2 ">
        <h3>
          <%= link_to new_admin_party_path, class: "btn btn-green" do %>
            Add New Party
          <% end %>
        </h3>
      </div>
    </div>
  </div>

  <div class="col-xs-10 col-xs-offset-1">
    <%= search_form_for(@q,url: admin_parties_path, id: 'parties_search_form') do |f| %>

      <div class="col-xs-2 pt20">
        <%=f.text_field :name_cont, class: 'form-control feedr-main-input',placeholder: 'Name of Party'%>
      </div>

      <div class="col-xs-2 pt20">
        <%=f.text_field :mobile_number_cont, class: 'form-control feedr-main-input',placeholder: 'Mobile Number'%>
      </div>

      <div class="col-xs-2 pt20">
        <%=f.text_field :gstin_cont, class: 'form-control feedr-main-input',placeholder: 'GSTIN'%>
      </div>

      <div class="col-xs-2 pt20" align="right">
        <%=f.submit 'Search', class: 'form-control btn-green'%>
      </div>
    <%end%>
  </div>

  <div class="col-xs-10 col-xs-offset-1 top-margin-3">
    <table class="table table-bordered table-striped feedr-main-tabl" >
      <thead>
      <tr>
        <th class="col-xs-1">Id</th>
        <th class="col-xs-1">Name</th>
        <th class="col-xs-2">Address</th>
        <th class="col-xs-2">Mobile Number</th>
        <th class="col-xs-2">Gstin</th>
        <th class="col-xs-2">Date</th>
        <th class="col-xs-2">Action</th>
      </tr>
      </thead>
      <tbody>
      <% @parties.each do |party| %>
        <tr>
          <td><%= party.id%></td>
          <td><%= party.name%></td>
          <td><%= party.address%></td>
          <td><%= party.mobile_number%></td>
          <td><%= party.gstin%></td>
          <td><%= party.created_at.strftime("%d/%m/%Y")%></td>
          <td>
            <div>
              <div class="col-xs-4">
                <%= link_to edit_admin_party_path(party), class: "btn btn-primary" do %>
                  Edit
                <% end %>
              </div>
              <div class="col-xs-4">
                <%= link_to 'Delete', admin_party_path(party), method: :delete, data: { confirm: "Are you sure?\nDeleting Party will remove all the items purchased from this party." }, :class => "btn btn-danger" %>

              </div>
            </div>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
    <div class="page_links ppl">
      <%= will_paginate @parties%>
    </div>
  </div>
</div>

<script>
    $('#document').change(function(){
        $('#upload_form').submit()
    });
</script>
